@use 'var';

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-left: 100px;
    &-image {
      border-radius: 50%;
    }
  }

  &__menu {
    margin-right: 100px;
    &-list {
      display: flex;
      list-style: none;
    }

    &-item {
      margin-left: 100px;
    }

    &-link {
      color: var.$font-color;
      text-decoration: none;
      font-size: 2rem;
      font-family: var.$font-kind;
    }
  }
}
